docker {
  //cacheDir = "/home/kryan/singularity_cache"
  //autoMount = 'true'
  enabled = 'true'

}

process {
  withName: QC_AND_FILTER_NORMALISE {
  //container = 'kevinr9525/rocker-rstudio-seurat-5:dev'
  container = 'kevinr9525/rocker-rstudio-seurat-5:doublet'
  }
  withName: INTEGRATE {
  //container = 'kevinr9525/rocker-rstudio-seurat-5:dev'
  container = 'kevinr9525/rocker-rstudio-seurat-5:doublet'
  }
}
